.about_maior{
    background-color: rgb(195, 200, 204);
    display: flex; /* Torna o container um flex container */
    justify-content: space-between; /* Alinha os itens horizontalmente, com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra interna */
    
}
.about_us{
    margin-top: 20px;
    background-color: rgb(0, 65, 139);
    border-radius: 15px;
    height: 315px;
}

.about_us h2, .about_us p{
    color: aliceblue;
}

.beneficios_conteiner {
    display: flex; /* Torna o container um flex container */
    justify-content: space-between; /* Alinha os itens horizontalmente com espaço entre eles */
    background-color: rgb(0, 65, 139); /* Cor de fundo para visualização */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  .beneficios_text, .beneficios_img {
    width: 45%; /* Ajuste a largura conforme necessário */
    padding: 10px; /* Espaçamento interno */
  }

  .beneficios_text h3, .beneficios_text p{
    color: aliceblue;
  }

  .beneficios_img{
    display: flex;
    align-items: center;
    width: 60%;

  } 
  
  

