<config language="english" author="OpenSpace3D+editor+configuration+file">
    <OS3Dmain>
        <width value="1920"/>
        <height value="1009"/>
        <posx value="%2d1"/>
        <posy value="%2d1"/>
        <sepv value="280"/>
        <seph value="735"/>
        <seph2 value="978"/>
    </OS3Dmain>
    <OS3Duser>
        <bShowGrid value="1"/>
        <bShowHelpers value="1"/>
        <bShowInfos value="0"/>
        <bAutoFit value="0"/>
        <bWireMode value="0"/>
    </OS3Duser>
</config>
